{% extends "base/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card p-4">
    <h3 class="text-info mb-3">User Profiles</h3>

    <table class="table table-dark table-hover align-middle">
        <tr>
            <th>Pic</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td><img src="{{ profile.pic.url }}" alt="{{ profile.name }}" ></td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.gender }}</td>
            <td>{{ profile.skills }}</td>
            <td>
                <a href="{% url 'view-user' profile.id %}"></a>
                <a href="{% url 'update-user' profile.id %}">Edit</a> |
                <a href="{% url 'delete-user' profile.id %}">Delete</a>  
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
