{% extends "base/layout.html" %}
{% block title %}View Profile{% endblock %}

{% block content %}

<div class="profile-glass-card">
    <h2 class="neon-title">User Profile Details</h2>

    <!-- PROFILE IMAGE -->
    <div class="profile-img-wrapper mb-3 ">
        <img src="{{ profile.profile_picture.url }}" alt="profile">
    </div>

    <!-- USER INFO -->
    <div class="profile-info">
        <p><span>Username:</span> {{ profile.username }}</p>
        <p><span>Email:</span> {{ profile.email }}</p>
        <p><span>Gender:</span> {{ profile.gender }}</p>
        <p><span>Date of Birth:</span> {{ profile.dob }}</p>
    </div>

    <!-- ABOUT SECTION -->
    <div class="about-section">
        <h4>About</h4>
        <p>{{ profile.about }}</p>
    </div>


    <!-- SKILLS -->
    <div class="skills-section">
        <h4> Skills</h4>
        <div class="skills-wrapper center p-2">
            {% for skill in profile.skills_list %}
                <span class="badge bg-info text-dark me-2 mb-2">
                    {{ skill }}                        
                </span>
            {% empty %}
                <span class="text-muted">No skills</span>
            {% endfor %}
        </div>
    </div>

    <!-- BUTTONS -->
    <div class="profile-actions">
        <a href="{% url 'update-user' profile.pk %}" class="btn btn-primary m-2">Update</a>
        <a href="{% url 'dashboard' %}" class="btn btn-warning m-2">Back</a>
    </div>

</div>
{% endblock %}
