<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: #000; color: #fff; padding: 25px;">
    <h2 style="text-align: center">Delete Confirmation </h2>
    <hr>
    <h3 style="padding: 15px">Are you sure you want to delete "<strong>{{ beer.name }}</strong>"?</h3>
    <form method="post" style="padding: 5px">
        {% csrf_token %}
        <button type="submit">Yes, delete</button><br> <br>
        <a href="/list/">Cancel</a>
    </form>
</body>
</html>