<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: #000; color: #fff; padding: 25px;">
    <h2 style="text-align: center;">List of Beers</h2>
    <hr>
    <ul style="padding: 15px list-style-type: square; ">
    {% for beer in beers %}
        <li ><a href="/detail/{{beer.id}}" style="color: rgba(0, 213, 255, 0.94)">{{ beer.name }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>