<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center; background: #000; color: #fff;">
    <h2>This is  a class based view</h2>
    <hr>
    <h3>Response from templateView</h3>
    <hr>
    <pre>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Course:</strong> {{ course }}</p>
        <p><strong>Duration:</strong> {{ duration }}</p>
    </pre>
</body>
</html>